version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server
    env_file: .env
    ports:
      - "1433:1433"
    volumes:
      - sqlvolume:/var/opt/mssql
      - ./backups:/backups
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "bash", "-c", "</dev/tcp/localhost/1433"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s

  db-init:
    image: mcr.microsoft.com/mssql-tools
    container_name: sql_init
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    entrypoint: >
      /bin/bash -c "
      echo 'Waiting for SQL Server...';
      sleep 30;
      echo 'Creating Database...';
      /opt/mssql-tools/bin/sqlcmd -S db -U sa -P \$MSSQL_SA_PASSWORD -Q 'CREATE DATABASE RequestHandlerWebServer' || echo 'Database likely exists';
      "

  backend:
    build: ./backend
    container_name: backend_app
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      db-init:
        condition: service_completed_successfully
    environment:
      - SPRING_R2DBC_URL=r2dbc:mssql://db:1433/RequestHandlerWebServer?encrypt=false&trustServerCertificate=true
      - SPRING_R2DBC_USERNAME=sa
      - SPRING_SQL_INIT_MODE=always
      - BOT_URL=http://bot:8081
      - BOT_API_KEY=${INTERNAL_API_KEY} 
      - FRONTEND_ALLOWED_ORIGINS=http://localhost
      - INITIAL_ADMIN_LOGIN=admin
      - INITIAL_ADMIN_PASSWORD=admin
    networks:
      - app-network

  bot:
    build: ./telegram
    container_name: telegram_bot
    env_file: .env
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:8080
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_BASE=/
    container_name: frontend_nginx
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  db-backup:
    image: mcr.microsoft.com/mssql-tools
    container_name: sql_backup
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backups:/backups
    networks:
      - app-network
    restart: unless-stopped
    entrypoint: >
      /bin/bash -c "
      while true; do
        echo '[backup] start at '$$(date);

        /opt/mssql-tools/bin/sqlcmd -S db -U sa -P $$MSSQL_SA_PASSWORD -Q \"BACKUP DATABASE RequestHandlerWebServer TO DISK = '/backups/RequestHandlerWebServer_$$(date +%Y%m%d_%H%M%S).bak' WITH INIT\";

        find /backups -type f -mtime +3 -delete;

        echo '[backup] done';

        sleep 86400;
      done
      "

volumes:
  sqlvolume:

networks:
  app-network:
    driver: bridge