version: '3.8'

services:
  # --- База данных MS SQL ---
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=SuperStrong!Pass123
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - sqlvolume:/var/opt/mssql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "bash", "-c", "</dev/tcp/localhost/1433"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  # --- Java Backend ---
  backend:
    build: ./backend
    container_name: backend_app
    depends_on:
      db:
        condition: service_healthy
    environment:
      # Переопределяем настройки подключения к БД
      - SPRING_R2DBC_URL=r2dbc:mssql://db:1433/master?encrypt=false&trustServerCertificate=true
      - SPRING_R2DBC_USERNAME=sa
      - SPRING_R2DBC_PASSWORD=SuperStrong!Pass123
      - SPRING_SQL_INIT_MODE=never
      # Настройки JWT
      - JWT_SECRET=mySuperSecureSecretKeyThatIsLongEnough123456789
      # Адрес бота (имя сервиса 'bot')
      - BOT_URL=http://bot:8081
      # Ключ API для бота
      - BOT_API_KEY=QLHJgYUOa80kRCtrA0RH8+rxYya4xCAut36B8wanYUo=
      # Разрешаем запросы от Nginx (он будет на том же хосте для браузера)
      - FRONTEND_ALLOWED_ORIGINS=http://localhost
    networks:
      - app-network

  # --- Python Telegram Bot ---
  bot:
    build: ./telegram
    container_name: telegram_bot
    depends_on:
      - backend
    environment:
      - TELEGRAM_BOT_TOKEN=8364635812:AAHnXEn6HkKaXCc_yWkr1Jgw4Sv8IggqBXg
      - BACKEND_API_KEY=QLHJgYUOa80kRCtrA0RH8+rxYya4xCAut36B8wanYUo=
      # Бот обращается к бэкенду внутри сети Docker
      - BACKEND_URL=http://backend:8080
    networks:
      - app-network

  # --- Frontend + Nginx ---
  frontend:
    build:
      context: ./frontend
      args:
        # При сборке говорим Vite, что API находится по тому же адресу (через прокси /api)
        - VITE_API_BASE=/
    container_name: frontend_nginx
    ports:
      - "80:80" # Открываем веб-сайт на порту 80
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  sqlvolume:

networks:
  app-network:
    driver: bridge